<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>App downloads content from the network this is a test to try to get notifications in the background</string>
		<string>App processes data in the background This is also a test test test</string>
		<string>App downloads content in response to push notifications I can write something in here to help with my app</string>
	</array>
</dict>
</plist>
